<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/settings.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
<div id="settings-header">
    <span id="settings-title">Settings</span>
</div>
<div id="settings-body">
    <div id="settings-menu">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
    <div id="settings-panels">
</div>
</div>
</body>
</html>